body,
html {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .flex-column-reverse-md {
        flex-direction: column-reverse;
    }
}

.menu-btn {
    background: none;
    border: none;
    border-radius: 50%;
    padding: 8px;
    transition: background-color 0.3s;
}

.menu-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-btn svg {
    fill: #333;
}

.menu-btn circle {
    stroke: #333;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
Ö
.inline-form {
    display: inline;
}

.btn-margin-right {
    margin-right: 5px;
}